body{
    background: url("./background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    background: rgba(0, 0, 0, 0.6);
    height: 590px;
    width: 450px;
    margin: auto; 
    border-radius: 10px;  
}
h1{
    color: red;
}
h2{
    color: white;
    height: 60px;
    margin-left: 65px;
    padding-top: 45px;
    font-size: xx-large;
}
#fn{
    height:46px;
    width: 300px;
    margin-left: 64px;
    margin-top: -20px ;
    background:rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.605);
    border-radius: 7px;
    color: white;
    font-size: large;
}
#ps{
    height:46px;
    width: 300px;
    margin-left: 64px;
    background:rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.605);
    border-radius: 7px;
    color: white;
    font-size: large;
}

#btn{
    height:40px;
    width: 300px;
    margin-left: 64px;
    background-color: red;
    color: white;
    border-radius: 7px;
    font-size: large;
}
#btm{
    height:40px;
    width: 300px;
    margin-left: 64px;
    background-color: rgba(176, 173, 173, 0.3);
    color: white;
    border-radius: 7px;
    margin-top: 15px;
    font-size: large;
}
p1{
    color: rgb(161, 166, 166);
    margin-left: 203px;

}
.opt{
    margin-left: 60px;
    color: aliceblue;
    height: 10px;
}

.pn{
    margin: auto;
    margin-left: 160px;
    margin-top: 10px;
    color: white;
    justify-content: space-evenly;
}
.as{
    margin-left: 60px;
    padding-top: 20px;
    color: rgba(253, 253, 253, 0.63);
    text-decoration: none; 
}
a.we a{
    color: blue;
    text-decoration: none;
}
.we{
    margin-left: 60px;
    margin-top: -15px;
    color: rgba(253, 253, 253, 0.63); 
}
.enter:hover{
    opacity:0.7;
}
.sign:hover{
    opacity:0.7;
}
.pn:hover{
    opacity:0.7;
    text-decoration: underline;
    text-underline-position: below;
    text-decoration-color: white;
}
a:hover{
    text-decoration: underline;
    text-underline-position: below;
    text-decoration-color:blue;
}
.as a:hover{
    text-decoration: underline;
    text-underline-position: below;
    text-decoration-color: white;
    color: white;
}